

h1 {

font-size: 96px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: oblique;
font-weight: 700;
}
.site-header {
    color: #031b03;
    background: #c08e06;
    padding: 20px 5%;

}

p {

    font-size: 30PX;
    font-family: 'Courier New', Courier, monospace;
    font-style: unset;
    font-weight: 100;
}